{
  "presets": [["@babel/preset-env", {
    "targets": {
      "browsers": ["last 3 versions", "ie >= 9"]
    }
  }]],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-transform-modules-commonjs",
    "@babel/plugin-syntax-dynamic-import"
  ]
}
