/* pdf预览的背景色 */
$--highlight-background-color: #F5F6F7 !default;

/* 批注的颜色 */
$--highlight-color: #FFF3BF !default;
/* 批注选中时的颜色 */
$--highlight-active-color: #FE8D6E !default;
/* pdf选中文字的颜色 */
$--highlight-selection-color: #BFBFFE !default;
/* 批注内容背景色 */
$--highlight-content-background-color: #243247 !default;
/* 批注选框的边框大小 */
$--highlight-selection-border-width: 4px !default;
